:root {
  --height-portfolio: 200vh;
  --height-portfolio-mv: 600vh;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100vh;
}

body {
  padding-top: 80px;
  height: 100%;
}

.text-center {
  text-align: center;
}

.ml-auto, .mx-auto {
  margin-left: auto;
}

.mr-auto, .mx-auto {
  margin-right: auto;
}

.mb-2, .my-2 {
  margin-bottom: 20px;
}

.mb-3, .my-3 {
  margin-bottom: 30px;
}

.mt-1, .my-1 {
  margin-top: 10px;
}

.mt-2, .my-2 {
  margin-top: 20px;
}

.mt-3, .my-3 {
  margin-top: 30px;
}

.pb-1, .px-1 {
  padding-bottom: 10px;
}

.pb-2, .pt-2 {
  padding-bottom: 20px;
}

.pb-3, .px-3 {
  padding-bottom: 30px;
}

.pr-3, .px-3 {
  padding-right: 30px;
}

.pl-3, .px-3 {
  padding-left: 30px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-block {
  display: block;
}

button,
a {
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase;
}

header.nav {
  background-color: #FFF;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header.nav nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  min-height: 80px;
  width: 90%;
  margin: auto;
}

header.nav nav.navbar button {
  display: none;
  background: transparent;
  border: none;
  border-radius: 0;
}

header.nav nav.navbar button:focus {
  outline: none;
}

@media screen and (max-width: 769px) {
  header.nav nav.navbar {
    padding: 20px 0;
  }
  header.nav nav.navbar button {
    display: block;
  }
}

ul.nav-list {
  font-family: 'Questrial', sans-serif;
  color: #707070;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1em;
}

ul.nav-list li {
  margin: 0 2px;
  padding: 10px 30px;
  line-height: 1.4;
  cursor: pointer;
}

ul.nav-list li:hover {
  background-color: #f1a3b1;
  color: #fff4f6;
}

ul.nav-list li.nav-active {
  background-color: #ff5672;
  color: #fff4f6;
}

@media screen and (max-width: 769px) {
  ul.nav-list {
    display: none;
    width: 100%;
    margin-top: 20px;
  }
  ul.nav-list.in {
    display: block;
  }
}

.welcome-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/horizon.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.welcome-section:before {
  content: '\A';
  position: absolute;
  background-color: rgba(252, 117, 140, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.welcome-section > div {
  z-index: 1;
  position: relative;
  color: #FFF;
}

.welcome-section > div h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6em;
}

.welcome-section > div p {
  font-family: 'Questrial', sans-serif;
  font-size: 1.2em;
}

@media screen and (max-width: 769px) {
  .welcome-section > div h1 {
    font-size: 2em;
  }
  .welcome-section > div p {
    font-size: 1em;
  }
}

.btn {
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  border: none;
  padding: 12px 24px;
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-white {
  color: #ff627c;
  background-color: #FFF;
}

.btn-pink {
  color: #FFF;
  background-color: #ff5672;
}

.nav-portfolio > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-portfolio > div > a {
  margin: 0 10px;
}

.nav-portfolio > div > a img {
  width: 18px;
}

.portfolio {
  max-width: 1600px;
  width: 80%;
}

.portfolio > div.container-portfolio {
  height: var(--height-portfolio);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio > div.container-portfolio:before {
  content: '\A';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(transparent));
  background: linear-gradient(to top, white, transparent);
  height: 120px;
  z-index: 1;
}

@media screen and (max-width: 769px) {
  .portfolio > div.container-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: var(--height-portfolio-mv);
  }
}

.portfolio > div > div[id*='col_'] {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  height: 100%;
  margin-bottom: 10px;
}

.portfolio > div > div[id*='col_'] > div.card-small {
  height: 250px;
}

.portfolio > div > div[id*='col_'] > div.card-tall {
  height: 400px;
}

.portfolio > div > div[id*='col_'] > div > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.portfolio > div > div[id*='col_'] > div:hover > div {
  opacity: 1;
}

.portfolio > div > div[id*='col_'] > div > div {
  -webkit-transition: .5s opacity;
  transition: .5s opacity;
  opacity: 0;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 5px solid #f6f6f6;
  background-color: rgba(254, 102, 127, 0.8);
}

.portfolio > div > div[id*='col_'] > div > div > * {
  width: 100%;
}

.portfolio > div > div[id*='col_'] > div > div h3 {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #FFF;
}

.portfolio > div > div[id*='col_'] > div > div p {
  font-family: 'Questrial', sans-serif;
}

@media screen and (max-width: 769px) {
  .portfolio > div > div[id*='col_'] {
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media screen and (max-width: 769px) {
  .portfolio {
    width: 95%;
  }
}

footer .rights {
  color: #c3d0d8;
  font-family: 'Questrial', sans-serif;
}

footer .rights span {
  color: #ff5773;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socials a {
  text-decoration: none;
  margin: 0 10px;
}

footer .socials a img {
  height: 18px;
}
/*# sourceMappingURL=styles.css.map */