:root {
    --height-portfolio: 200vh;
    --height-portfolio-mv: 600vh;
}

$breakPoint : 769px;
$containerMax: 1600px;
$heightNavbar: 80px;
$colorTextNavbar: #707070;
$sizeTextNavbar: 1.1em;
$backgroundButtonWhite: #FFF;
$backgroundButtonPink: #ff5672;
$colorButtonWhite: #ff627c;
$colorButtonPink: #FFF;

*, 
::after, 
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    height: 100vh;
}

body {
    padding-top: $heightNavbar;
    height: 100%;
}

.text-center {
    text-align: center;
}

.ml-auto, .mx-auto {
    margin-left: auto;
}

.mr-auto, .mx-auto {
    margin-right: auto;
}

.mb-2, .my-2 {
    margin-bottom: 20px;
}

.mb-3, .my-3 {
    margin-bottom: 30px;
}

.mt-1, .my-1 {
    margin-top: 10px;
}

.mt-2, .my-2 {
    margin-top: 20px;
}

.mt-3, .my-3 {
    margin-top: 30px;
}

.pb-1, .px-1 {
    padding-bottom: 10px;
}

.pb-2, .pt-2 {
    padding-bottom: 20px;
}

.pb-3, .px-3 {
    padding-bottom: 30px;
}

.pr-3, .px-3 {
    padding-right: 30px;
}

.pl-3, .px-3 {
    padding-left: 30px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-block {
    display: block;
}

button,
a {
    cursor: pointer;
}

.text-uppercase {
    text-transform: uppercase;
}

header.nav {
    background-color: #FFF;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    nav.navbar {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        min-height: $heightNavbar;
        width: 90%;
        margin: auto;
    
        button {
            display: none;
            background: transparent;
            border: none;
            border-radius: 0;
    
            &:focus {
                outline: none;
            }
        }
    }

    @media screen and (max-width: $breakPoint) {
        nav.navbar {
            padding: 20px 0;

            button {
                display: block;
            }
        }
    }
}

ul.nav-list {
    font-family: 'Questrial', sans-serif;
    color: $colorTextNavbar;
    list-style: none;
    display: flex;
    font-size: $sizeTextNavbar;

    li {
        margin: 0 2px;
        padding: 10px 30px;
        line-height: 1.4;
        cursor: pointer;

        &:hover {
            background-color: #f1a3b1;
            color: #fff4f6;
        }

        &.nav-active {
            background-color: #ff5672;
            color: #fff4f6;
        }
    }

    @media screen and (max-width: $breakPoint) {
        display: none;
        width: 100%;
        margin-top: 20px;

        &.in {
            display: block;
        }
    }
}

.welcome-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/horizon.jpg') no-repeat center;
    background-size: cover;
    height: 100%;

    &:before {
        content:'\A';
        position: absolute;
        background-color: rgba(252, 117, 140,.8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    > div  {
        z-index: 1;
        position: relative;
        color: #FFF;

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 2.6em;
        }
    
        p {
            font-family: 'Questrial', sans-serif;
            font-size: 1.2em;
        }
    }

    @media screen and (max-width: $breakPoint) {
        > div  {
            h1 {
                font-size: 2em;
            }
        
            p {
                font-size: 1em;
            }
        }
    }
}

.btn {
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    border: none;
    padding: 12px 24px;

    &:hover {
        transform: scale(1.02);
    }
}

.btn-white {
    color: $colorButtonWhite;
    background-color: $backgroundButtonWhite;
}

.btn-pink {
    color: $colorButtonPink;
    background-color: $backgroundButtonPink;
}

.nav-portfolio {
    > div {
        display: flex;
        justify-content: center;

        > a {
            margin: 0 10px;

            img {
                width: 18px;
            }
        }
    }
}

.portfolio {
    max-width: $containerMax;
    width: 80%;
    
    > div.container-portfolio {
        height: var(--height-portfolio);
        overflow: hidden;  
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;

        &:before {
            content: '\A';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to top, white, transparent);
            height: 120px;
            z-index: 1;
        }

        @media screen and (max-width: $breakPoint) {
            flex-flow: column nowrap;
            height: var(--height-portfolio-mv);
        }
    }

    > div > div[id*='col_'] {
        flex: 0 1 32%;
        height: 100%;
        margin-bottom: 10px;

        > div {
            &.card-small {
                height: 250px;
            }

            &.card-tall {
                height: 400px;
            }

            > img {
                object-fit: cover;
                object-position: center;
            }

            &:hover > div {
                opacity: 1;
            }

            > div {
                transition: .5s opacity;
                opacity: 0;
                color: #FFF;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border: 5px solid #f6f6f6;
                background-color: rgba(254, 102, 127, .8);

                > * {
                    width: 100%;
                }
    
                h3 {
                    font-family: 'Montserrat', sans-serif;
                    border-bottom: 1px solid #FFF;
                }
    
                p {
                    font-family: 'Questrial', sans-serif;
                }
            }
        }

        @media screen and (max-width: $breakPoint) {
            height: auto;
            flex: 1 1 auto;
        }
    }

    @media screen and (max-width: $breakPoint) {
        width: 95%;
    }
}

footer {
    .rights {
        color: #c3d0d8;
        font-family: 'Questrial', sans-serif;

        span {
            color: #ff5773;
        }
    }

    .socials {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            margin: 0 10px;

            img {
                height: 18px;
            }
        }
    }
}